body, h1, h4, label, input, select, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 24px;
    color: #333;
}

section {
    margin: 20px 0;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="number"] {
    width: 97%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

aside {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

input[type="text"] {
    width: 97%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 20px 0;
}

h4 {
    font-size: 14px;
    color: #777;
}