*{

}

header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1{
    padding-top: 10px;
}

input{
    margin-left: 20px;
    width: 400px;
    margin-top: 5px;
}

#IMC, #showIMC {
    display: none;
}

#contenedor{
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    background-color:thistle;
    border-radius: 5px;
}

#btnCalcular{
    background-color:darkgrey;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
}

#lbl{
    margin-left: 20px;
}