*{
    padding: 0;
}

body{
    background-color: azure;
}

header{
    text-align: center;
    font-size: 30px;
}

section{
    text-align: center;
    
}

aside{
    text-align: center;
}

footer{
    text-align: center;
}

label{
    margin: 10px;
}