*{

}

header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: -30px;
}

h1{
    padding-top: 10px;
}

li{
  display: flex;
}

input[type = "text"]{
  width: 440px;
}

img{
  height: 350px;
  width: 140px;
  border-radius: 5px;
  border: 1px solid gray;
  display: none;
}

#showIMC, #txtIMC, #showCal, #txtCal{
  display: none;
}

#contenedor{
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color:thistle;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10%;
}

#btnCalcular{
  background-color:darkgrey;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 35%;
}

#btnCalcular:hover {
  background-color: #db3232;
}

#section{
  background-color:ghostwhite;
  height: 68%;
  width: 75%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}

#aside{
  margin-top: -63.7%;
  margin-right: -15px;
  padding: 30px;
  width: 20%;
  float: right;
}